/* General Styles */
body {
    font-family: 'Playfair Display', sans-serif;
    text-align: center;
    background-color: #13254c;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Header Section */
header {
    padding: 80px;
    background: #111737;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    overflow: hidden;
}

/* Profile Image Container */
.profile-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;
    background: linear-gradient(to left, rgba(19, 37, 76, 0.9), rgba(19, 37, 76, 0));
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    z-index: 1;
}

/* Profile Image */
.profile {
    width: 400px;
    height: auto;
    object-fit: cover;
    position: absolute;
    right: -80px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    opacity: 0; /* Initially hidden */
}

/* Profile Image Animation */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.profile.animate {
    animation: slideIn 1s ease-out forwards;
}

/* Portfolio Section */
#portfolio {
    padding: 50px;
}

/* Videos */
.video iframe {
    width: 80%;
    height: 315px;
    margin: 10px;
}

/* TikTok Embed */
.tiktok-embed {
    background: none !important;
    border-radius: 15px;
    overflow: hidden;
}

/* Footer */
footer {
    padding: 15px;
    background: #111737;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 50px;
        flex-direction: column;
        text-align: center;
    }

    .profile-container {
        width: 60%;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .profile {
        width: 250px;
        right: -50px;
    }
}


